@page "/counter"

<PageTitle>Demo</PageTitle>

<h1>Powers of 2</h1>

<p role="status">2<sup>@currentCount</sup> = @pow2</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private int pow2 = 1;

    private void IncrementCount()
    {
        currentCount++;
        pow2 += pow2;
        if(pow2 < 0) {
            pow2 = 1;
            currentCount = 0;
        }
    }
}
